body{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    background-color: green;
    text-align: center;
}

ol{ 
    font-size: 18px;
    margin-left: 30px;
    background-color: #039be5;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

hr{
    color: black;
    background-color: black;
    width:50%;
    text-align:center;
}