<html>
    <head>
        <title>Spoonacular Review</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href={{ url_for("static", filename="styles.css") }} >
        <style>
            body {
              background-image: url('static/wooden_background.jpg');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
        </style>
    </head>
    <body>
        <h1>Spoonacular Review</h1>
        
        <div class="spoon">
            
            <li>Recipe: {{ Recipe[randnum] }}</li>
            <a href={{ SpoonUrl[randnum] }} target="_blank"><img src={{ ImageUrl[randnum] }} alt="food" /></a>
            <li>Cuisine Origin: {{ Cuisine }}</li>
            <li>ReadyTime: {{ ReadyTime[randnum] }}</li>
            <li>Servings: {{ Servings[randnum] }}</li>
            
            <div class="ingredients">
                <h1>Ingredients: </h1>
                {% for i in range(0, Ingredients[0][randnum]) %}
                    <li>{{ Ingredients[1][randnum][i] }}</li>
                {% endfor %}
            </div>
        </div>
        <div class="tweet">
            <ol>
                    <li>{{ Users[randomtweet] }} tweeted:  </li>
                    <li>"{{ Texts[randomtweet] }}"</li>
                    <li> on {{ Times[randomtweet] }}</li>                
            </ol>
        </div>
    </body>
    <footer> 
        <h5>Created by Richard Nardone</h5>
        <h5>Utilized Heroku, GitHub, Python, Flask, Twitter API and Spoonacular API</h5>
    </footer>
</html>
