<html>
    <head>
        <title>Spoonacular Review</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href={{ url_for("static", filename="styles.css") }} >
    </head>
    <body>
        <h1>Spoonacular Review</h1>
        <h2>Cuisine: {{ Cuisine }}</h2>
        <h2>Recipe: {{ Recipe }}</h2>
        <h2>Link: {{ SpoonUrl }}</h2>
        <h2>ReadyTime: {{ ReadyTime }}</h2>
        <h2>Servings: {{ Servings }}</h2>
        <img src={{ ImageUrl }} alt="food" />
        <ol>
            {% for i in range(0, list_len) %}
                <li>{{ Users[i] }} tweeted:  </li>
                <ol>"{{ Texts[i] }}"</ol>
                <ol> on {{ Times[i] }}</ol>                
                <hr>
            {% endfor %}
        </ol>
        {% for i in range(0, ilen) %}
            <li>{{ Ingredients[i] }}</li>
        {% endfor %}
    </body>
    <footer> 
        <h4> Created by Richard Nardone </h4>
        <h5>Utilized Heroku, Twitter API and Spoonacular API</h5>
    </footer>
</html>
